# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
.obj/
.sln
*.csproj
*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash Reports
sysinfo.txt

# Visual Studio Code
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db